    

/* nav start  */


#nav_div_l_s{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    margin: 0px;
  
  }
  #nav_div_l_s > h2{
   
    color: white;
    font-size: 20px;
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
  }
  #nav_div_l_s :nth-child(2){
     margin-left: 35%;
  }
  #nav_div{
    display: flex;
    background-color: black;
    
   
  }
  input{
    width: 20%;
    height: 20px;
    margin-top: 20px;
  }
  #nav_div > h2{
   margin: 20px;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   
  }
  #logo{
    width: 10%;
    height: 20px;
  margin-top: 2%;
  }
  
.footer1 {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 4;
    left: 0;
    /* background-color: #ffffff; */
    /* margin-left: -170px; */
    box-shadow: 0px -2px 5px 1px;
    background-color: #fff;
  }
  .footer1 .col {
   
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer1 .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer1 .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer1 .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    /* -webkit-transition: .2s; */
   
    -moz-transition: .2s;
  }
  
  
  .footer1 .col ul li:hover {
    color: gray;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  
  
  .nav_data{
    /* border: 1px solid red; */
     display: flex;
     width: 100%;
  }
  #mainnav{
     background-color: black;
     /* color: blue; */
  }
  #mainnav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  #mainnav > ul > li {
      display: inline-block;
      padding: 0 6px;
  }
  #mainnav ul li {
      position: relative;
     
  }
  .header #mainnav > ul > li > a {
      line-height: 100px;
  }

  #mainnav > ul > li > a {
      position: relative;
      display: block;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      margin: 0 15px;
      font-weight: 600;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  #mainnav ul.submenu {
      position: absolute;
      /* left: 0; */
      top: 150%;
      width: 1340px;
      text-align: left;
      background-color: #fff;
      z-index: 9999;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  #mainnav ul.submenu li:first-child {
      border-top: none;
  }
  #mainnav ul.submenu > li {
      border-top: 1px solid #333333;
  }
  #mainnav ul li ul li {
      margin-left: 0;
  }
  #mainnav ul.submenu > li > a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 0 0 0 20px;
      line-height: 45px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  #mainnav ul li:hover > ul.submenu {
      top: 100%;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
      visibility: visible;
  }
  
  .col h3{
     font-size: 15px;
     
  }
  input{
      width: 75%;
  }
  #logoimg{
      width: 50%;
  }
  a{
    text-decoration: none;
  }

  /* nav end */







        #des_price{
            font-size: 30px;
            margin-top: 25px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            width: 300px;
            /* margin-left: -390px; */
        }
        
        #des_name{
            /* margin-left: -20px; */
            font-size: 30px;
          width: 450px;
           font-family: 'Times New Roman', Times, serif;
        }
       
        #btn_cart_des{
            width: 250px;
            height: 50px;
            background-color: rgb(255, 0, 128);
        }
        #img1_des{
            width: 100px;
            margin-left:200px;
            margin-top:-100px;
            
        }
        #btn_fav_des{
           
           margin-left: 0px;
           width: 50px;
           height: 50px;
        }



        

#zoom { 
width: 250px; 
float:left;
z-index: 10;
    -webkit-transition: all .3s ease-out; 
    -moz-transition: all .3s ease-out; 
    -o-transition: all .3s ease-out; 
    transition: all .3s ease-out; 
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}

#zoom:hover { 
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
filter: 
    progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
    M11=2, M12=-0, M21=0, M22=2);
  
}

.image { 
margin: 0; 
border: 0 }

.left {
width: 250px; 
float:left;
z-index: 10; 
overflow: hidden;
  
}






.des_spec{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50px;
    margin: 0% 1%;
}

    .des_spec>h2{
        border: 1px solid black;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .des_spec>h2:hover{
        border: 3px solid maroon;
    }
    #showing_element{
        margin-top: 2%;
        padding:30px 20px;
        font-size: 20px;
    }
    #showing_element>ul>li{
        margin-top: 2%;
    }
    #showing_element>div{
        
        line-height:40px;
    }

    
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    float: left;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 15px;
  }
  .nav > .nav-cs {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    float: right;
    
  }
  .nav img{
    width: 50%;
  }
  
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:992px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: black;;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
      height: calc(100vh - 50px);
      overflow-y: scroll;
    }
  }
  