    
*{
    background-color: #fff;
}
        #des_price{
            font-size: 30px;
            margin-top: 25px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            width: 300px;
            /* margin-left: -390px; */
        }
        
        #des_name{
            /* margin-left: -20px; */
            font-size: 30px;
          width: 450px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
       
        #btn_cart_des{
            width: 250px;
            height: 50px;
            background-color: hotpink;
        
        }
        #img1_des{
            width: 100px;
            margin-left:200px;
            margin-top:-100px;
            
        }
        #btn_fav_des{
           
           margin-left: 0px;
           width: 50px;
           height: 50px;
        }    

#zoom { 
width: 250px; 
float:left;
z-index: 10;
    -webkit-transition: all .3s ease-out; 
    -moz-transition: all .3s ease-out; 
    -o-transition: all .3s ease-out; 
    transition: all .3s ease-out; 
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}

#zoom:hover { 
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
filter: 
    progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
    M11=2, M12=-0, M21=0, M22=2);
  
}

.image { 
margin: 0; 
border: 0 }

.left {
width: 250px; 
float:left;
z-index: 10; 
overflow: hidden;
  
}
/* swati */
.des_spec {
display: grid;

grid-template-columns: 50% 50%;
height:50px;
margin: 0% 1%;
}
.des_spec>h2{
    border: 1px solid black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.des_spec>h2:hover{
    border: 3px solid maroon;
}
#showing_element{
    margin-top: 2%;
    padding:30px 20px;
    font-size: 20px;
}
#showing_element>ul>li{
    margin-top: 2%;
}
#showing_element>div{
    
    line-height:40px;
}