#box {
    display:grid;
    grid-template-columns: 25% 1% 25% 1% 25%;
    gap:2%;
    height: 700px;
    margin:2% 10% 5% 1%;
    justify-content: center;
    


}
#color{
    color: grey;
}

#fb {
    background-image:url("https://tse1.mm.bing.net/th?id=OIP.aYVbqEFb2M-SWsBh_LafIQHaHa&pid=Api&rs=1&c=1&qlt=95&w=112&h=112");
    width:15%;
    height:5%;
    background-size: contain;
}
.line {
    width:0%;
    height:85%;
    border:1px solid rgb(216, 213, 213);

}
#Email,#password{
    padding: 2% 25% 2% 2%; 
    margin-top: 10%;
    width:60%;
   
     
}
#First_Name,#Last_Name,#Email_1,#password_1,#password_2{

 padding: 2% 25% 2% 2%; 
 margin-top: 5%;
 width:60%;
}
#b1{
  padding: 2% 0% 0% 7%;

}

.distance{
    margin: 10% 0%;
}

.box1{
    margin:10% 10% 10% 0%;

}
button{
    background-color: rgb(199, 23, 31);
    color:white;
    border-radius: 10%;
    padding:2% 8% 2% 2%;
    font-size: 15px;
    
}
#box2{
    margin:  8% 0% ;
}
hr{
    height: 1px;
    background-color: rgb(226, 226, 218);
    border: none;
}
@media(max-width:480px){
    #box{
grid-template-columns: 90%;
grid-template-rows: 30% 1% 30% 1% 30%;
    }
}

