body{
    /* background-color: honeydew; */
}

#container{
    width: 55%;
    border: 1px solid #374ecc;
    margin: auto;
    display: grid;
    padding: 1%;
    grid-template-columns: 29% 69%;
    background-image: linear-gradient(white, white, white, #00baf2);
    border-radius: 10px;
    margin-top: 5%;
}

.pytmlogo{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    display: flex;
    /* margin-left: 30%; */
}

#col1{
    border-right: 1px solid #00baf2;
}

#col1>div{
    /* border-bottom : 1px solid #00baf2; */
    padding: 5%;
    text-align: center;
}

#col2{
    padding: 2%;
    width: 50%;
    margin: auto;
}
.normal_bg{
    /* background-color: gainsboro; */
}

.active_bg{
    background-color:#00baf2 ;
    color: honeydew;
}

.form{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.form>div:nth-child(1), div:nth-child(4), div:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 3;
}

input{
    width: 100%;
    height: 25px;
}

.btn{
    background-color: #374ecc;
    width: 100%;
    padding: 7px;
    text-align: center;
    color: honeydew;
    border-radius: 3px;
    margin-top: 3px;
}

.btn:hover{
    /* border: 1px solid whitesmoke; */
    background-image: linear-gradient( #00baf2,#374ecc);
    /* background-color: #00baf2; */
    color:  white;
}

p{
    margin-bottom: 2px;
}

#nb{
    margin-top: 0px;
}

#pay_amt{
    margin-left: 1%;
}

.pay,#pay_amt{
    color: #374ecc;
    font-size: 16px;
    font-weight: 600;
}